body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#cube-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#cube-controls svg path {
  cursor: pointer;
  transition: fill 0.2s;
}

#cube-controls svg path:hover {
  filter: brightness(1.2);
}

#logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 75px;
  height: 75px;
}

* {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#toolbar {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#toolbar .button {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 6%;
  cursor: pointer;
  transition: background-color 0.2s;
}

#toolbar .button:hover {
  background-color: #f0f0f0;
}

#toolbar .button img {
  width: 48px;
  height: 48px;
}

.tooltip {
  margin-left: 8px;
  background-color: #fff;
  color: #000;
  padding: 4px 8px;
  border-radius: 4px;
  display: none;
  font-family: Arial, sans-serif;
}

.button:hover + .tooltip {
  display: block;
}

.button-container {
  position: relative;
  display: flex;
  align-items: center;
}

#panels-container {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  max-width: 400px;
  overflow-y: auto;
  height: auto;
}

.panel {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
  transition: max-height 0.2s;
  width: 300px;
}

.panel-header {
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.panel-content {
  padding: 10px;
}

.panel-content div {
  margin-bottom: 10px;
}

.panel-content label {
  display: block;
  margin-bottom: 5px;
}

.panel-content input[type='number'],
.panel-content input[type='range'] {
  width: 100%;
  display: inline-block;
}

.panel-content span {
  display: inline-block;
  margin-left: 10px;
}

.button-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.button-enabled {
  pointer-events: all;
  opacity: 1;
}

.button-selected {
  background-color: #a0ff7b !important;
}

.button-loading .loading-spinner {
  display: block;
}

.button-loading img {
  display: none;
}

.loading-spinner {
  display: none;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.button-loading {
  pointer-events: none;
  opacity: 0.5;
}

.scientific-input {
  display: flex;
  align-items: baseline;
}

.scientific-input input[type='number'] {
  width: 60px;
}

.scientific-input sup input[type='number'] {
  width: 40px;
  font-size: 0.8em;
  vertical-align: super;
  margin-left: 2px;
}

.invalid-input {
  background-color: red;
}
